@import url("https://fonts.googleapis.com/css?family=Orbitron");
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: 'Courier New', monospace;
  font-size: 16px;
  /* font-smooth: auto; */
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

.calc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.alarm-clock {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  background-color: tan;
}
.alarm-clock .date {
  position: absolute;
  bottom: 15px;
  left: 50%;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  transform: translateX(-50%);
  z-index: 9;
}
.alarm-clock .time {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px 15px;
  background-color: #333;
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: 52px;
}
.alarm-clock .time span {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #e74c3c;
  text-shadow: 0 0 15px rgba(231, 76, 60, 0.4);
  line-height: 1.75;
}
.alarm-clock .time span:nth-of-type(5) {
  width: 90px;
}
.alarm-clock .time span.colon {
  width: 12px;
  text-align: center;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.dowload {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-family: 'PT Sans', sans-serif;
  background-color: #7bda836e;
  height: 50vh;
}

a {
  text-decoration: none;
}

.Button__textWrapper, .Button__text, .Button__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.Button__text, .Button__icon {
  transition: top 500ms;
}

.Button {
  display: inline-block;
  position: relative;
  background-color: #0CBABA;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 1000px;
  width: 200px;
  height: 60px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7), inset 0 1px rgba(255, 255, 255, 0.3);
  text-align: center;
  transition: background-color 500ms, -webkit-transform 100ms;
  transition: background-color 500ms, transform 100ms;
  transition: background-color 500ms, transform 100ms, -webkit-transform 100ms;
}
.Button__textWrapper {
  overflow: hidden;
}
.Button__text {
  line-height: 60px;
  top: 0;
}
.Button__icon {
  top: 100%;
  background: url("https://cl.ly/0X3o100h2H0g/icon-download.svg") no-repeat center center;
}
.Button::before {
  content: attr(data-tooltip);
  width: 140px;
  height: 60px;
  background-color: #EEB868;
  font-size: 1rem;
  border-radius: .25em;
  line-height: 60px;
  bottom: 90px;
  left: calc(50% - 70px);
}
.Button::after {
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #EEB868;
  left: calc(50% - 10px);
  bottom: 70px;
}
.Button::before, .Button::after {
  position: absolute;
  opacity: 0;
  transition: all 500ms;
  visibility: hidden;
}
.Button:hover {
  background-color: #01BAEF;
}
.Button:hover .Button__text {
  top: -100%;
}
.Button:hover .Button__icon {
  top: 0;
}
.Button:hover::before, .Button:hover::after {
  opacity: 1;
  visibility: visible;
}
.Button:hover::after {
  bottom: 60px;
}
.Button:hover::before {
  bottom: 80px;
}
.Button:active {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.description {
  display: block;
}
